<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TriggersNotepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TriggersNotepad.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Lucida Console</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12.667</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FontStretch" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartIndent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextDragging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpellCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hyperlinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RealTimeFind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseGoto" serializeAs="String">
                <value>True</value>
            </setting>
        </TriggersNotepad.Properties.Settings>
    </userSettings>
</configuration>