<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Trigger's Notepad">
          <Directory Id="InstallDictionaryFolder" Name="Dictionaries" />
          <Directory Id="InstallFileTypesFolder" Name="FileTypes" />
        </Directory>
      </Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Triggers Tools &amp; Games"/>
      </Directory>
    </Directory>
	</Fragment>
</Wix>
